%li.dropdown
	%a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"} 
		Menu
		%b.caret
	%ul.dropdown-menu
		%li
			%a{href: "#/cases"} Cases
		%li
			%a{href: "#/labels"} Labels
		%li
			%a{href: "#"} Attach Proved Label